### DB 설정 정보 ###
MYSQL_HOST={MYSQL 호스트}
MYSQL_PORT={MYSQL 포트, 기본값은 3306}
DB_NAME={DB이름}
MYSQL_PASSWORD={MYSQL 비밀번호}
MYSQL_USERNAME={MYSQL 유저이름}

### REDIS ###
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

### AWS ###
AWS_ACCESS_KEY={AWS ACCESS KEY}
AWS_SECRET_KEY={AWS SECRET KEY}
S3_IMAGE_BUCKET={AWS S3 IMAGE 버킷}
AWS_REGION={AWS REGION}
S3_ENDPOINT={AWS S3 ENDPOINT}

### JWT ###
JWT_ACCESS_TOKEN_SECRET={JWT ACCESS TOKEN SECRET_KEY}
JWT_REFRESH_TOKEN_SECRET={JWT REFRESH TOKEN SECRET_KEY}

# 1일
JWT_ACCESS_TOKEN_EXPIRATION_TIME=86400
# 30일
JWT_REFRESH_TOKEN_EXPIRATION_TIME=2592000

### APPLE ###
APPLE_DEV_CLIENT_ID={APPLE 개발 CLIENT ID}
APPLE_DEV_TEAM_ID={APPLE 개발 TEAM ID}
APPLE_PROD_CLIENT_ID={APPLE 운영 CLIENT ID}
APPLE_PROD_TEAM_ID={APPLE 운영 TEAM ID}
APPLE_KEY_ID={APPLE KEY ID}
APPLE_P8={APPLE P8}
